* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

ul {
    list-style: none;
    display: flex;
}

.tab__buttons li {
    padding: 10px;
    background: #e1ff7d;
    margin: 0 5px;
}

.tab__buttons li:hover {
    cursor: pointer;
    background: #d6f377;
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, .4);
}

.tab__buttons li.active {
    background: #e9fcab;
}

.tab__content li {
    display: none;
}

.tab__content li.active {
    display: block;
}

p {
    font-size: 20px;
}

.tooltip {
    position: relative;
    background: #ddff6e76;
    cursor: pointer;
}

.tooltip__content {
    position: absolute;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.484);
    width: 100px;
    left: -40px;
    padding: 10px;
}