* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 300px;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 5px 1px #c7c7c7;
}

.todo__enter {
    width: 100%;
    margin-bottom: 15px;
    /* .text {
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding-left: 20px;
    } */
}

.todo__enter .text {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 5px 0 5px 15px;
    font-size: 20px;
    font-style: italic;
    color: #5a5a5a;
}

button[type=submit] {
    display: none;
}

.todo__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    box-sizing: border-box;
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 5px;
}

.todo__text {
    width: 50%;
}

input[type=checkbox]:checked+.input__text {
    text-decoration: line-through;
}

.buttons {
    max-width: 100px;
    width: 100%;
}

.buttons button {
    width: 100%;
    display: block;
    padding: 5px;
}